tmp/Evaluate-STIG_1.2507.6/Evaluate-STIG/xml/Schema_Preferences.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="Preferences">
    <xs:complexType>
      <xs:all>
        <xs:element name="EvaluateSTIG" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="ScanType" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="Marking" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="TargetComments" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:integer" name="VulnTimeout" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:integer" name="FileSearchTimeout" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="AnswerKey" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="AFPath" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="Output" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="JSON" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="OutputPath" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:integer" name="PreviousToKeep" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="AllowDeprecated" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="AllowSeverityOverride" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="ExcludeSTIG" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="ExcludeVuln" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="ApplyTattoo" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="SMCollection" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="SplunkHECName" maxOccurs="1" minOccurs="0"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="OutputPayload" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:boolean" name="Title" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="Version" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="ReleaseDate" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="Classification" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="HostName" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="Site" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="Instance" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="IP" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="MAC" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="FQDN" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="Role" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="GroupID" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="GroupTitle" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="RuleID" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="STIGID" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="Severity" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="SeverityOverride" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="Justification" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="LegacyIDs" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="RuleTitle" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="Discussion" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="CheckText" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="FixText" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="CCI" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="Status" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="FindingDetails" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="Comments" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="ESVersion" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:boolean" name="StartTime" maxOccurs="1" minOccurs="0"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="STIGManager" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SMImport_API_BASE" maxOccurs="1" minOccurs="1"/>
              <xs:element type="xs:string" name="SMImport_AUTHORITY" maxOccurs="1" minOccurs="1"/>
              <xs:element name="SMImport_COLLECTION" maxOccurs="500" minOccurs="1">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="SMImport_CLIENT_ID" maxOccurs="1" minOccurs="1"/>
                    <xs:element type="xs:string" name="SMImport_CLIENT_CERT" maxOccurs="1" minOccurs="1"/>
                    <xs:element type="xs:string" name="SMImport_CLIENT_CERT_KEY" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="SMImport_COLLECTION_ID" maxOccurs="1" minOccurs="1"/>
                  </xs:all>
                  <xs:attribute type="xs:string" name="Name"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
          <xs:unique name="SMImport_COLLECTIONUniqueKey">
            <xs:selector xpath="SMImport_COLLECTION"/>
            <xs:field xpath="@Name"/>
          </xs:unique>
        </xs:element>
        <xs:element name="Splunk" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Splunk_URI" maxOccurs="1" minOccurs="1"/>
              <xs:element name="Splunk_HECName" maxOccurs="500" minOccurs="1">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="Splunk_token" maxOccurs="1" minOccurs="1"/>
                    <xs:element type="xs:string" name="Splunk_index" maxOccurs="1" minOccurs="1"/>
                    <xs:element type="xs:string" name="Splunk_source" maxOccurs="1" minOccurs="1"/>
                    <xs:element type="xs:string" name="Splunk_sourcetype" maxOccurs="1" minOccurs="1"/>
                  </xs:all>
                  <xs:attribute type="xs:string" name="Name"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
          <xs:unique name="Splunk_CollectorUniqueKey">
            <xs:selector xpath="Splunk_Collector"/>
            <xs:field xpath="@Name"/>
          </xs:unique>
        </xs:element>
        <xs:element name="ManageAnswerFiles" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="EvaluateSTIG_Results" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="AnswerFileDirectory" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="DefaultAFKey" maxOccurs="1" minOccurs="0"/>
              <xs:element name="StatusFormat" maxOccurs="1" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="EvalSTIG"/>
                    <xs:enumeration value="CKL"/>
                    <xs:enumeration value="CKLB"/>
                    <xs:enumeration value="XCCDF"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:boolean" name="BackupOnSave" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="PowerShell_IDE" maxOccurs="1" minOccurs="0"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
